.modal {
  position: fixed;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s visibility 0.4s;
}

.modal__content {
  width: 400px;
  padding: 35px;
  margin: 35px;
  z-index: 1;
  background-color: #393939;
  color: white;
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.2);
}

.modal.active {
  visibility: visible;
  opacity: 1;
}

.form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.form__main form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form__main form input,
.form__main form select {
  border: none;
  padding: 10px 12px;
  background: white;
}

.close {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  transition: 0.1s;
  padding: 0;
}
